:root {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #232323;
  background-color: #fafbfc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #2563eb;
  text-decoration: none;
}
a:hover {
  color: #174ea6;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #fafbfc;
  color: #232323;
  /* Remover centralização vertical */
  display: block;
  place-items: unset;
}

h1 {
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 500;
  color: #232323;
  margin-bottom: 1.5rem;
}

button {
  border-radius: 8px;
  border: 1px solid #eaeaea;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff;
  color: #232323;
  cursor: pointer;
  transition: border-color 0.25s, background 0.25s;
}
button:hover {
  border-color: #2563eb;
  background: #f7f8fa;
}
button:focus,
button:focus-visible {
  outline: 2px solid #2563eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #fafbfc;
    background-color: #232323;
  }
  a:hover {
    color: #a5b4fc;
  }
  button {
    background-color: #232323;
    color: #fafbfc;
    border-color: #374151;
  }
}
